export BOT_TOKEN=7568075614:AAFWIU8tpJQQIUk8Sv3BxL7x8Lwsxwx6Qw0
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=1234
export POSTGRES_DB=tg_bot
export POSTGRES_HOST=127.0.0.1
export POSTGRES_PORT=5432
